<em>How would you rate...</em>

<div id="likeable" class="offset2 span8 pagination-centered">
  <h2><%= @random_like.name %></h2>

  <%#= image_tag @like_image %>

  <%= ratings_for @random_like, :show_user_rating => true %>

  <%= button_to "next", root_path, :class => "span4 btn" %>
</div>
